/* App.css or another global CSS file */

/* Style for the header */
.App-header {
  background-color: #f4f4f4; /* Light gray background */
  color: #333; /* Dark text */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

/* Style for the header brand (title) */
.header-brand {
  color: #333; /* Dark text */
  text-decoration: none;
}

.header-brand h1 {
  margin: 0;
  font-size: 2rem;
}

/* Styles for the navigation */
.header-nav {
  display: flex;
  align-items: center;
}

/* Navigation list styles */
.header-nav .navbar-nav {
  display: flex;
  list-style: none;
  padding-left: 0;
  margin: 0;
}

/* Style for each navigation item */
.header-nav .nav-item {
  margin: 0 1rem;
}

/* Style for navigation links */
.header-nav .nav-link {
  color: #333; /* Dark text */
  text-decoration: none;
  font-size: 1.2rem;
  padding: 0.5rem 0;
}

/* Style for active navigation link and hover state */
.header-nav .nav-link.active,
.header-nav .nav-link:hover {
  color: #8c8c8c; /* Light gray text for selected or hovered nav links */
}

/* Style for the navbar toggler */
.navbar-toggler {
  border: 1px solid #333; /* Dark border for the toggler */
  background: none;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(51, 51, 51, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}
